.appContainer{
	height: -webkit-fill-available;
	background-color: #616161
	;
	h1{
		text-align: center;
	}
	.cardContainer{
		margin-top: 50px;
		margin-left: 25%;
		text-align: center;
		width: 50%;
		.cardActions{
			justify-content: center;
		}
	}
}